// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.bespoke-slide
  background-color white
  border 1px solid black
  border-radius 15px
  background-image url("../images/logo-net-insight.png")
  background-size 20%
  background-repeat no-repeat
  background-position 98% 3%

.bespoke-slide.title
  background-image none

.emphatic .bespoke-slide
  background-color lightpink
  color black

article, article.emphatic
  background-color black

ul
  list-style initial
  text-align left
  padding-top: 1em

ol
  text-align left

section img
  width 100%

.small
  font-size 75%

li.hidden
  opacity 0;

table
  margin-top: 0.5em;
  margin-bottom: 0.5em;

th
  padding-left: 0.4em;
  padding-right: 0.4em;
