// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

.bespoke-slide
  background-color white
  border 1px solid black
  border-radius 15px

.emphatic .bespoke-slide
  background-color lightpink
  color black

article, article.emphatic
  background-color black

ul
  list-style initial
  text-align left

ol
  text-align left

section img
  width 100%

.small
  font-size 75%

li.hidden
  opacity 0;