doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Cloud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
 
    article
      section.title
        h1 The Cloud
        img(src="images/logo-net-insight.png" style="width:50%")
        p
        p Mattias Holmlund, 2015-08-27
        p
        a(href="http://mattiash.github.io/presentation-cloud/") http://mattiash.github.io/presentation-cloud/

      section
        h2 Use cases
        ul.transition
          li.hidden
          li Launch a (web) service without owning any servers
          li Rent compute / storage capacity to handle peaks

      section
        h2 Several different providers
        ul
          li Amazon
          li Azure
          li Google
          li Digital Ocean
          li City Network Karlstad
          li ...

      section
        h2 Amazon
        ul
          li.hidden
          li 28 availability zones across the globe
          li at least one datacenter per availability zone
          li 50k - 80k servers per datacenter
          li 2-5 million servers
          li build their own servers
          li private network with their own fiber links
          li build their own networking gear

      section
        h2 AWS
        img(src="images/AWS-Services.png", style="height:100%;width:auto")

      section
        h2 Amazon EC2
        p Rent virtual servers
        ul
          li.hidden
          li From 1 vCPU / 1 GB
          li To 36 vCPU / 244 GB
          li Pay per hour
          li Spin up a new server in "a minute"
          li Stop it when you´re done

      section
        h1 No hardware!

      section
        h1 Demo
        p Create ec2 instance via web

      section
        h2 Pricing

        table
          thead
            tr
              th Type
              th vCPU
              th Mem
              th 1h
              th 1month
          tbody
            tr
              td t2.micro
              td 1
              td 1 GB
              td 0.12
              td 106
            tr
              td m4.large
              td 2
              td 8 GB
              td 1.20
              td 1060

        p Prices in SEK. 750 hours of free t2.micro when you sign up

      
      section
        h1 Storage

      section
        h2 EBS - Elastic Block Store
        ul
          li Exposed as a block device in linux
          li Use any filesystem
          li Use mdadm to raid them
          li Lifetime separate from containers
          li Can only be mounted on one instance at a time
          li Used for root disk by default

      section
        h2 S3 - Simple Storage Service
        ul
          li Object storage (files)
          li Store files up to 5TB in size
          li Accessible via http
          li Can control access
          li Can host websites
          li Used as storage for many public services
             br
             |(Dropbox, Smugmug)

      section
        h2 S3 Cost
        ul
          li 85 GB storage for a month, SEK 28
          li Charges for transfer as well
          li Prices go down
          li Stored 2*10
             sup 12
             |  objects in 2013

      section
        h1 S3 Demo

      section
        h2 s3cmd
        pre
          code.language-bash.
            s3cmd ls
            s3cmd ls s3://backup.holmlund.se
            echo test > test.txt
            s3cmd put test.txt s3://backup.holmlund.se/

    script(src='build/build.js')