doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Cloud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
 
    article
      section.title
        h1 The Cloud
        img(src="images/logo-net-insight.png" style="width:50%")
        p
        p Mattias Holmlund, 2015-08-27


      section
        h2 Use cases
        ul.transition
          li.hidden
          li Launch a (web) service without owning any servers
          li Start small and scale indefinitely
          li Rent compute / storage capacity to handle peaks
          li Test in a clean environment.

      section(style="background-image:url('https://grahamdunningcrystalworld.files.wordpress.com/2012/07/img_2163.jpg');background-size:cover")
        h1(style="color:red") No hardware!

      section
        h2 Several different providers
        ul
          li Amazon
          li Azure
          li Google
          li Digital Ocean
          li City Network Karlstad
          li ...

      section
        h2 Amazon
        ul
          li 9 regions across the globe
          li 28 availability zones
          li at least one datacenter per availability zone
          li 50k - 80k servers per datacenter
          li
            b 2-5 million servers

      section
        h2 Amazon
        ul
          li build their own servers
          li private network with their own fiber links
          li build their own networking gear

      section
        h2 AWS
        img(src="images/AWS-Services.png", style="height:100%;width:auto")

      section
        h2 Amazon EC2
        p Rent virtual servers
        ul
          li From 1 vCPU / 1 GB RAM
          li To 36 vCPU / 244 GB RAM
          li Pay per hour
          li Spin up a new server in "a few minutes"
          li Stop it when you´re done

      section
        h1 Demo
        p Create ec2 instance via web

      section
        h2 Networking in EC2
        ul
          li VPC - Virtual Private Cloud
          li All instances belong to a VPC
          li No firewall between instances in a VPC
          li Private IP inside VPC
          li Public IP forwarded to private IP via firewall

      section
        h2 Networking in EC2
        img(src="images/AWS-Firewall.png", style="height:auto;width:100%")

      section
        h1 Demo
        p Create ec2 instance via cli
        p 
          a(href="https://aws.amazon.com/cli/") https://aws.amazon.com/cli/

      section
        h2 run-instance
        pre
          code.language-bash.
            inst_id=$(aws ec2 run-instances \
              --image-id ami-accff2b1 \
              --count 1 --instance-type t2.micro \
              --key-name netinsight \
              --security-groups launch-wizard-1 \
              --query Instances[0].InstanceId \
              --output text)

            aws ec2 wait instance-status-ok \
              --instance-ids $inst_id

      section
        h2 run-instance
        pre
          code.language-bash.
            ip=$(aws ec2 describe-instances \
              --instance-ids $inst_id \
              --query \ 
                'Reservations[0].Instances[0].PublicIpAddress' \
              --output text)

            scp -o StrictHostKeyChecking=no \
              ./installer ubuntu@$ip:

            ssh -o StrictHostKeyChecking=no ubuntu@$ip \
              sudo ./installer

      section
        h2 run-instance
        pre
          code.language-bash.
            aws ec2 terminate-instances \
              --instance-ids $inst_id \
              --output text

      section
        h2 installer
        pre
          code.language-bash.
            apt-get update
            apt-get install -y apache2
            echo "Behold the power of the Cloud" \
              > /var/www/html/index.html

        p This script runs on the EC2 instance. 

      section(style="background-image:url('http://www.aquo.com.es/wp-content/uploads/green-clean.jpg');background-size:cover")
        h1(style="color:red") Clean environment every time!

      section
        h2 Pricing

        table
          thead
            tr
              th Type
              th vCPU
              th Mem
              th 1h
              th 1month
          tbody
            tr
              td t2.micro
              td 1
              td 1 GB
              td 0.12
              td 106
            tr
              td m4.large
              td 2
              td 8 GB
              td 1.20
              td 1060

        p Prices in SEK. 750 hours of free t2.micro when you sign up

      
      section
        h1 Storage

      section
        h2 EBS - Elastic Block Store
        ul
          li Exposed as a block device in linux
          li Use any filesystem
          li Use mdadm to raid them
          li Lifetime separate from containers
          li Can only be mounted on one instance at a time
          li Used for root disk by default

      section
        h2 S3 - Simple Storage Service
        ul
          li Object storage (files)
          li Store files up to 5TB in size
          li Accessible via http
          li Can control access
          li Can host websites
          li Used as storage for many public services
             br
             |(Dropbox, Smugmug)

      section
        h2 S3 Cost
        ul
          li 85 GB storage for a month, SEK 28
          li Charges for transfer as well
          li Prices go down
          li Stored 2*10
             sup 12
             |  objects in 2013

      section
        h1 S3 Demo

      section
        h1 Questions?

      section
        h2 Try it!
        ul
          li First 750 hours of t2.micro for free
          li Protect your credentials!
          li Don't forget to terminate instances
        a(href="https://mattiash.github.io/presentation-cloud/") https://mattiash.github.io/presentation-cloud/
        a(href="https://github.com/mattiash/presentation-cloud/") https://github.com/mattiash/presentation-cloud/

    script(src='build/build.js')
