doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Cloud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 The Cloud

      section
        h2 Use cases
        ul.transition
          li.hidden
          li Launch a (web) service without owning any servers
          li Rent compute / storage capacity to handle peaks

      section
        h2 Several different providers
        ul
          li Amazon
          li Azure
          li Google
          li Digital Ocean
          li City Network Karlstad
          li ...

      section
        h2 Amazon
        ul
          li.hidden
          li 28 availability zones across the globe
          li at least one datacenter per availability zone
          li 50k - 80k servers per datacenter
          li 2-5 million servers
          li build their own servers
          li private network with their own fiber links
          li build their own networking gear

      section
        h2 Amazon Web Services - AWS
        img(src="images/AWS-Services.png", style="height:100%;width:auto")

      section
        h2 Amazon EC2
        p Rent virtual servers
        ul
          li.hidden
          li From 1 vCPU / 1 GB
          li To 36 vCPU / 244 GB
          li Pay per hour
          li Spin up a new server in "a minute"
          li Stop it when you´re done

      section
        h1 No hardware!

      section
        h1 Demo Create ec2 instance via web

      section
        h1 EBS - Elastic Block Store
        ul
          li
        p EBS, S3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')